/* Responsive Design */

@media (max-width: 60em) {
    #editButton {
        align-self: flex-center; 
    }
    
}
@media (max-width: 40em) {
    #editButton {
        align-self: flex-center; 
    }

    #menu .hamburger {
        display: block;
        background-color: #f8f8f8;
        color:#A4DAEA;
        padding: 1em;
      }
    
      #menu .hamburger:before {
        content:'\2630';
      }
    
      #menu ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        color: white;
      }
    
      #hamburger:checked + .hamburger + ul li{
        max-height: 1em;
        padding: 1em;
        opacity: 1;
      }
    
      #hamburger:checked + .hamburger:before {
        content:'\2715';
      }
    
      #menu li {
        max-height: 0;
        padding: 0 1em;
        background-color: #edeff0;
        text-align: left;
        opacity: 0;
        transition: all .3s ease-in-out;
      }

      nav#menu li:hover{
        list-style-type: none;
        transition: .5s;
        border-bottom: solid 5px white;
        background-color: #A4DAEA;
    }
    
}

