/* Responsive Design */

@media (max-width: 60em) {
    #shoppingCart {
        display: block;
    }
    #summary {
        float: none; 
        width: 100%; 
        padding:0.5em;
        order: 2;
    }

    #items {
        float: none; 
        width: 100%; 
        order: 1;
    }

    #item {
        display: block;
        flex-direction: column;
        padding: 1em;
        justify-content: center;
    }

    #itemImg {
        margin-right: 3em;
    }

    .item {
        width: 40%; 
    }
    
    #sellerInfo {
        margin-left: 2em;
        flex-direction: column; 
        align-items: flex-start; 
    }
}

@media (max-width: 50em) {
    #editButton {
        align-self: flex-center; 

    }

    #navbar {
        display: flex;
        flex-wrap: wrap;
    }
    
    #logo-container {
        flex-basis: 50%;
        padding-left:33%;
    }
    
    #search {  
        flex-basis: 50%;
        padding-bottom: 1em;
    }
    
    #account,
    #favourite,
    #cart,
    #chatMsg {
        align-self: flex-start;  
        flex-basis: 15%;
        order: 3;
    }
    
    #filter-container {
        flex-basis: 30%;
        align-self: flex-end;  
        order: 2;
        padding-bottom: 1em;
    }
    
    #filter {
        margin-left: 2em;
    } 
}

@media (max-width: 40em) {

    #menu .hamburgerCommon {
        display: block;
        background-color: #f8f8f8;
        color:#A4DAEA;
        padding: 1em;
    }
    
    #menu .hamburgerCommon:before {
        content:'\2630';
    }
    
    #menu ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        color: white;
    }
    
    #hamburgerCommon:checked + .hamburgerCommon + ul li{
        max-height: 1em;
        padding: 1em;
        opacity: 1;
    }
    
    #hamburgerCommon:checked + .hamburgerCommon:before {
        content:'\2715';
    }
    
    #menu li {
        max-height: 0;
        padding: 0 1em;
        background-color: #edeff0;
        text-align: left;
        opacity: 0;
        transition: all .3s ease-in-out;
    }

    nav#menu li:hover{
        list-style-type: none;
        transition: .5s;
        border-bottom: solid 5px white;
        background-color: #A4DAEA;
    }


    #userHeader {
        flex-direction: column;
        align-items: flex-start;
        margin: 2em 3em 2em 3em;
    }  

    #newChatButton {
        margin: 0; 
    }
    
}


