/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Sulphur+Point:wght@300;400;700&display=swap');

/* HTML */
html {
    margin: 0.3em;
    padding: 0.3em;
}

/* Body */
body {
    font-family: "Actor", sans-serif;
}

/* Links and references */

a {
    text-decoration: none; 
    color: inherit; 
}


/* Estilos do Header */
header {
    padding: 20px;
    background-color: #BBE4F1;
    border-bottom: 1px solid #e7e7e7;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart, .account, .favourite, .filter, .chatMsg {
        width: 30px;  
        height: 30px;
    }
}

#navbar div {
    margin: 0 10px;
}

#logo {
    width: 100px;
    height: 80px;
}

#search {
    flex-grow: 1;
    input[type="text"] {
        font-family: "Sulphur Point", sans-serif;
        width: 80%; 
        height: 30px; 
        border-radius: 12px;
        background-color:rgb(189, 181, 181);    
        border: 1px solid #ffffff;
    }
}

#search img {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

#searchbar {
    position: relative;
}

#searchbar input{
    padding-left: 40px;
}

body>header a:link, body>header a:visited {
    text-decoration: none;
    color: white
}

/* Menu */
nav#menu {
    background-color: #f8f8f8;
    padding: 10px;
}

nav#menu a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
}

nav#menu ul {
    list-style-type: none;
    padding: 0;
}

nav#menu li {
    display: inline;
    margin-right: 10px;
    text-align: center;
    padding : 1em;
}

nav#menu li:hover{
    list-style-type: none;
    transition: .5s;
    border-bottom: solid 5px;
    border-color: #A4DAEA;
}

/* Main */

main img {
    width: 100%;
    height: auto;
}

main .productinfo {
    width: 23em;
    margin-bottom: 0em;
    position: absolute;
    top: 16em;
    left: 7em;
    text-align: center;
}

main .productinfo  h1 {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    font-size: xx-large;
}

#jewels {
    position: relative;
}

/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 16px;
    border: 0.5px solid #656363; 
    position: relative;
}

footer p {
    text-align: left; 
    margin-left: 30px; 
    margin-bottom: 40px; 
}

footer button {
    font-family: "Sulphur Point", sans-serif;
    color: #656363;
    padding: 10px 20px; 
    background-color: #BBE4F1;
    border-radius: 8px;
    border-width: 1px;
    cursor: pointer;
    position: absolute; 
    bottom: 60px; 
    right: 80px;
}

/* Cart and Favourites */

#myCart, #myFavs {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-size: x-large;
    padding-left: 1em;
    border-bottom: 1px solid #000; 
}

#shoppingCart {
    display: flex;
    padding: 1em;
}

#summary {
    text-align: center;
    border: 1px solid #000;
    padding: 15px; 

    h1 {
        font-family: "Sulphur Point", sans-serif;
        font-weight: 400;
        border-bottom: 1px solid #000; 
        font-size: 20px;
    }
}

#items {
    float: left;
    width: 75%; 
}

#summary button, #editButton, #addItemButton {
    font-family: "Sulphur Point", sans-serif;
    background-color: #BBE4F1;
    color: #656363;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border-width: 1px;
}

#summary button {
    padding: 2px 100px; 
}

#filter img,
#account img,
#favourite img,
#cart img, 
#chatMsg img {
    transition: box-shadow 0.3s ease;  
    border-radius: 50%;
    padding : 5px;
}

#filter:hover img,
#account:hover img,
#favourite:hover img,
#cart:hover img,
#chatMsg:hover img {
    box-shadow: 0 0 20px 10px rgba(250, 250, 250, 0.974);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(189, 181, 181);
    min-width: 120px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    border: 1px solid rgb(80, 123, 164);
    text-decoration: none;
    margin: 3px;
}

.dropdown-content a:hover {
    background-color:  #BBE4F1;
    color: black;
}

#account:hover .dropdown-content {
    display: block;
}

/* Profile Section */

#profile {
    font-family: "Sulphur Point", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    position:relative;
}


#profile h1 {
    font-size: xx-large;
}

.editForm, .notEdit {
    border: 1px solid #000;
    padding: 2em;
    margin: 1em;
}

.editForm h2 {
    text-align: center;
    border-bottom: 1px solid #000;
}


#editButton {
    padding: 2px 50px; 
    border: 1px solid #000;
}

a#editButton {
    align-self: flex-end;
    position: absolute;
    right: 12em;
    bottom: 18em;
}

#avatar img {
    width: 100%;
    height: 20em;
    border-radius: 50%; 
    border: 1px solid black; 
}


#userInfo {
    flex-grow: 1;
    margin-left: 20px;
}

#userInfo h2 {
    margin-bottom: 10px;
}

#userInfo form {
    display: flex;
    flex-direction: column;
}

#userInfo form label {
    margin-bottom: 5px;
}

#userInfo form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Articles Section */
#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.articleItem {
    flex-basis: calc(33.3333% - 20px);
    margin-bottom: 20px;
}

.articleItem img {
    width: 100%;
    height: auto;
}


/* Notification */
.notification { 
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}


/* Item */
#item {
    font-family: "Sulphur Point", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

#itemImg {
    flex: 1;
    margin: 2em 1em 2em 2em;
}

#containers {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2em 2em 2em 1em;
}

#itemContainer, #sellerContainer{
    flex-grow: 1;
    margin-left: 20px;
    text-align: center;
    border: 1px solid #000;
    padding: 2em;
    margin: 1em;
}

#itemContainer h2 {
    text-align: center;
    border-bottom: 1px solid #000;
}

#itemContainer h3 {
    font-size: 1.4em;
    text-align: center;
    padding: 1em 1em 0em 1em;
}

#itemContainer p {
    text-align: left;
}

#addItemToCart {
    font-family: "Sulphur Point", sans-serif;
    background-color: #BBE4F1;
    color: #656363;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    border-width: 1px;
    padding: 0.6em 3em 0.6em 3em;   /* alterar para o responsivo!! */
    margin: 1em 0 1em 0;
}

#sellerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sellerImg {
    width: 5em;
}


nav#details {
    [type = checkbox] {
        display: none;
    }
}

#details {
    .hamburger {
        display: block;
        padding: 1em;
    }

    .hamburger:before {
        font-size: 2em;
        content:'+';
    }
    
    #hamburger:checked ~ #bar .hamburger:before {
        font-size: 1.5em;
        content:'\2715';
    }

    #hamburger:checked ~ .detail{ 
        max-height: 1.5em;
        opacity: 1;
        padding: 0.5em;
        margin: 0.5em;
    }
    .detail {
        max-height: 0;
        opacity: 0;
        padding: 0;
        margin: 0 0 0.2em;
        transition: all .3s ease-in;
    }
}

#bar {
    display: flex; 
    align-items: center;
    border-bottom: 1px solid #000;
}

#bar h3 {
    flex: 4;
}

#bar label {
    margin-top: 15px;
    flex: 1;
}


/* Chat */
#myMessages {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
    font-size: x-large;
    padding-left: 1em;
    border-bottom: 1px solid #000; 
}

#chat {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

#listContainer {
    width: 30%;
    padding: 5px 20px 5px 20px;
    background-color: #F0F0F0;
}

#listUsers {
    list-style: none;
    padding: 0;
}

.itemUser {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.itemUser:hover {
    background-color: #e2e1e1;
}

#messageContainer {
    width: 65%;
    padding: 20px;
}

#messageContainer h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}

#messages {
    max-height: 330px; 
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}

.message {
    clear: both;
    margin-bottom: 10px;
}

.userAt {
    float: right;
    background-color: #BBE4F1; 
    border-radius: 10px;
    padding: 10px;
    max-width: 70%; 
    text-align: right;
}

.userTo {
    float: left;
    background-color: #F0F0F0; 
    border-radius: 10px;
    padding: 10px;
    max-width: 70%;
    text-align: left;
}


#messageForm {
    display: flex;
    align-items: center;
}

#messageInput {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
}

#sendMessageButton {
    padding: 10px 4px 10px 10px;
}


#sendMessageButton img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}




/* Filter */
.arrow {
    font-size: 40px;
    color: #000; 
    cursor: pointer;
}

#filter-container {
    position: relative; 
    display: inline-block; 
}

#filter-box {
    display: none;
    position: absolute;
    position: absolute;
    top: 100%; 
    right: 0;
    padding: 10px;
    z-index: 1;
}

/*Cart item*/

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 1em;
    position: relative; 
}


.cart-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%; 
    height: 0.6px; 
    background-color: rgb(130, 121, 121);
}

.cart-item img {
    width: 12em;
    height: 12em;
    margin-right: 30px;
    border: 1px solid black; 
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.item-details p {
    margin: 0;
}

.item-details p:first-child {
    font-family: "Sulphur Point", sans-serif;
    font-size: 1.5em;
    margin-bottom: 13px;
}

.item-details p:nth-child(2) {
    text-align: right;
}

.item-details .detail {
    font-size: 1em;
}

.item-details button {
    margin-top: 10px;
    font-family: "Sulphur Point", sans-serif;
    background-color: #9d9d9d;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    border-width: 1px;
}

.item-details button:hover {
    background-color: #BBE4F1;
}

/*Itens for salling*/

#articles {
    display: block; 
    text-align: center; 
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em; 
    border: 1px solid black;
    width: 77%;
    margin-left: 14%; 
}

#articles h2, #sellerItems h2 {
    font-family: "Sulphur Point", sans-serif;
    text-align: center;
    position: relative; 
}

#articles h2:after, #sellerItems h2:after {
    content: ''; 
    border-bottom: 1px solid #6c6c6c; 
    position: absolute; 
    right: 0em;
    padding-bottom: 1em;
    top: 1em;
    width: 100%; 
}

#sellerItems h2:after {
    margin-bottom: 1em;
}

#addItemButton {
    font-family: "Sulphur Point", sans-serif;
    color: #656363;
    background-color: #BBE4F1;
    padding-top: 0;
    padding: 0.5em;
    border-radius: 12px;
    border-width: 1px;
    border: 1px solid black;
}

#sellerItems .itemGrid,
#articles .itemGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

#sellerItems .articleItem, #articles .articleItem {
    border: 1px solid #ccc;
    padding: 10px;
}


#sellerItems .articleItem.lastInRow, #articles .articleItem.lastInRow{
    margin-right: 0; 
}

#noItems {
    margin-top: 3em;
    text-align: center;
}


#sellerItems {
    margin: 20px;
    border: 1px solid black;
    padding: 20px;
}


.articleItem {
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.articleImage {
    text-align: center;
    width: 100%; 
    border: 1px solid black;
    margin: 5%; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}

.articleImage:hover {
    border: 3px solid #BBE4F1;
}

.articleItem h3 {
    margin-top: 20px;
}

.articleItem p {
    margin-bottom: 20px;
}

#addItemButtonExtra {
    width: 2em; 
    height: 2em; 
    border-radius: 50%; 
    background-color: rgb(189, 181, 181); 
    color: #fff; 
    font-size: 24px; 
    border: 1px solid black;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



