@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Actor&family=Sulphur+Point:wght@300;400;700&display=swap');

body {
    font-family: "Actor", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #BBE4F1;
    border-bottom: 1px solid #e7e7e7;
}

nav#navbar div {
    display: inline;
    margin-right: 10px;
}

body>header a:link, body>header a:visited {
    text-decoration: none;
    color: white
}

nav#menu li{
    text-align: center;
    padding : 1em;
}

nav#menu li:hover{
    list-style-type: none;
    transition: .5s;
    border-bottom: solid 5px;
    border-color: #A4DAEA;
}

nav#menu {
    background-color: #f8f8f8;
    padding: 10px;
    a {
        text-decoration: none;
        color: black;
        font-size: 1em;
        font-family: "Sulphur Point", sans-serif;
        font-weight: 400;
    }
}

nav#menu ul {
    list-style-type: none;
    padding: 0;
}

nav#menu ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

main img {
    width: 100%;
    height: auto;
}

main section {
    width: 20em;
    position: absolute;
    top: 16em;
    left: 14em;
    margin: 1em;
    align-content: center;
    h1 {
        font-family: "Sulphur Point", sans-serif;
    }
}

#jewels {
    position: relative;
}



footer {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    border: 1px solid #656363;
    button {
        font-family: "Sulphur Point", sans-serif;
        color: #656363;
        padding: 10px 20px;
        background-color: #BBE4F1;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid #000000;
    }
}



  
  